<div class="container mt-4">
  <button type="back" class="btn btn-outline-primary mb-3" routerLink="/courses">
    <i class="fa fa-arrow-left"></i>
    Back
  </button>


  <form (ngSubmit)="createAccount()">
    <div class="form-group">
      <input type="text" placeholder="Enter your state" [(ngModel)]="_state" name="_state" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" placeholder="Enter your city" [(ngModel)]="_city" name="_city" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" placeholder="Enter your pin" [(ngModel)]="_pin" name="_pin" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" placeholder="Enter your name" [(ngModel)]="_ownerName" name="_ownerName" class="form-control">
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>


</div>
